/* .like-button-container {
  justify-content: center;
  text-align: center;
} */

.fa {
  color: rgb(87, 114, 223);
  max-height: fit-content;
  transition: 0.2s ease;
}

.fa:hover {
  transform: scale(1.2);
}

.fa-thumbs-up:hover {
  color: rgb(22, 196, 22);
}

.fa-thumbs-down:hover {
  color: rgb(199, 4, 4);
}

.post-card {
  background-color: rgba(255, 255, 255, 0.8);
}

